extends baseEmail 
block Content
  p Hello, #{firstName} 
  p Thank you for registering for the BIPUME Mock Exam.  

  p To ensure you stay updated, join the official BIPUME JAMB MOCK WhatsApp Group. This is where all information about the exam and subsequent exams will be shared. Click the link below to join:  

  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')  
    tbody  
      tr  
        td(align='left')  
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')  
            tbody  
              tr  
                td  
                  a(href=`https://chat.whatsapp.com/FsySLiJSIGHLKSS88lJJOL`, target='_blank') Join the BIPUME WhatsApp Group  

  p When it’s time for your exam, use the link below to access the mock test. Please do not open it before the scheduled date and time.  

  table.btn.btn-secondary(role='presentation', border='0', cellpadding='0', cellspacing='0')  
    tbody  
      tr  
        td(align='left')  
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')  
            tbody  
              tr  
                td  
                  a(href=`https://quizboot.com/quiz/CRMyhtOrjM`, target='_blank') Take the Exam  

  p Follow us for essential updates on our social media pages:  
  p Instagram - https://www.instagram.com/bipume_  
  p TikTok - https://www.tiktok.com/@bipume  
  p Facebook - https://www.facebook.com/profile.php?id=61574189098346  

  p BIPUME Mock Exam Details:  
  p Date: Saturday, 5th April  
  p Start Time: 9:00 AM  
  p Access Window: 12 hours (closes automatically after this period).  
  p Duration: 1 hour (fixed, regardless of the number of subjects chosen).  
  p Subjects: Minimum of 4 subjects (out of 12).  
  p Scoring: 50 marks per subject, totaling 400 marks for four subjects.  

  p Ensure you have a stable internet connection and are fully prepared before starting.  
  p Good luck, and enjoy your exam!  
