extends baseEmail 
block Content
  p Hi #{firstName},  
  p Congratulations! You have successfully registered for the BIPUME Mock Exam. 🎉  
  p We are excited to have you on this journey with us. BIPUME is a faith-based initiative dedicated to guiding students like you until you gain admission into your desired institution. We provide the right support, motivation, and resources to help you excel.  

  p To ensure you stay updated, it is very important that you join the official BIPUME Mock Exam Group. All announcements, tips, and important updates will be shared there. Click the link below to join:  

  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')  
    tbody  
      tr  
        td(align='left')  
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')  
            tbody  
              tr  
                td  
                  a(href=`https://chat.whatsapp.com/FsySLiJSIGHLKSS88lJJOL`, target='_blank') Join the BIPUME Mock Group  

  p On the day of your exam, you will use the link below to access the mock test. Please do not open it before the scheduled date and time, which will be announced in the BIPUME group.  

  table.btn.btn-secondary(role='presentation', border='0', cellpadding='0', cellspacing='0')  
    tbody  
      tr  
        td(align='left')  
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')  
            tbody  
              tr  
                td  
                  a(href=`https://quizboot.com/quiz/CRMyhtOrjM`, target='_blank') Access Your Mock Exam  

  p Wishing you success in your preparation! If you have any questions, feel free to reach out.  

  p Best regards,  
  p **The BIPUME Team**

