footer.footer
  .footer__logo 
    img(src='/images/bipume.png' alt='BIPUME')
  ul.footer__nav 
    li: a(href='https://wa.link/076qfc') About BIPUME
    li: a(href='https://wa.link/pybmsw') Join BIPUME
    li: a(href='https://www.facebook.com/profile.php?id=61574189098346') Follow BIPUME on Facebook
    li: a(href='https://www.instagram.com/bipume_') Follow BIPUME on Instagram
    li: a(href='http://tiktok.com/@bipume') Follow BIPUME on Tiktok
  p.footer__copyright &copy; by BIPUME 2025, All rights reserved.