doctype html 
html 
  block head
    head
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', href='/images/bipume.jpg', type='image/png')
      meta(charset='UTF-8') 
      meta(name='viewport' content='width=device-width, initial-scale=1.0') 
      link( href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
      
      title BIPUME | MOCK FORM
      meta(http-equiv="Content-Security-Policy")
  body 
    include _header.pug
    block Content



    include _footer.pug
script(src='/js/axios.min.js')
script(src='/js/bundle.js')




